.discord-img {
	vertical-align:middle;
	height:32px;
	width:32px;
}

.spotify-title
{
	font-weight:bold;
	color:##006400;
	font-size:16px;
}

#topmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#topmenu li {
  float: left;
}

#topmenu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#topmenu li a:hover {
  background-color: #111;
}

#topmenu li a::after {
  content: " | ";
}