.discord-img {
	vertical-align:middle;
	height:32px;
	width:32px;
}

.spotify-title
{
	font-weight:bold;
	color:##006400;
	font-size:16px;
}

#topmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#topmenu li {
  float: left;
  border-right:2px solid #fafafa;
  border-left:2px solid #fafafa;
}

#topmenu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#topmenu li a:hover {
  background-color: #111;
}
